<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='input_string' />
      <input type='text' name='shift_number' />
      <input type='submit' value='Encode!' />
    </form>
    <p><%= message %></p>
  </body>
</html>

